@page "/employees"
@inject IEmployeeService EmployeeService

<h3>Employees</h3>
<MudTable Items="employees">
    <HeaderContent>
        <MudTh>First Name</MudTh>
        <MudTh>Last Name</MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Active</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="Title">@context.EmployeeTitleID</MudTd>
        <MudTd DataLabel="Active">@context.IsActive</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private IEnumerable<EmployeeDto> employees = Enumerable.Empty<EmployeeDto>();

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployeesAsync();
    }
}
